// Place all the styles related to the admins/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cus-edit td:nth-child(1){
  width: 150px;
}

.cus-index th{
  background-color: #ddd;
}
.cus-index td:nth-child(1){
  width: 80px;
}
.cus-index td:nth-child(2){
  width: 150px;
}
.cus-index td:nth-child(3){
  width: 200px;
}
.cus-index td:nth-child(4){
  width: 150px;
}

.cus-show td:nth-child(1){
  width: 180px;
  height: 40px;
}
.cus-show td:nth-child(2){
  width: 400px;
}
