<div class="container mt-3">
  <h2>会員一覧</h2>
  <div class="row mt-3">
    <div class="col-md-6 offset-md-3 mt-3 mb-4">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td width="80"><%= customer.id %></td>
              <td width="150"><%= link_to "#{customer.family_name}#{customer.first_name}", admins_customer_path(customer.id) %></td>
              <td width="200"><%= customer.email %></td>
              <td width="150">
                <% if customer.is_deleted == false %>
                  <span class="text-success">有効</span>
                <% else %>
                  退会
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination justify-content-center">
        <%= paginate @customers %>
      </div>
    </div>
  </div>
</div>