<div class="container my-5">
    <div class="col-md-3 offset-md-1">
      <h4 class="bg-light text-center">ジャンル編集</h4>
    </div>
  <div class="row my-3">
    <div class="offset-md-2 col-md-8">
      <%= form_with model:[:admins,@product_type], local:true do |f| %>
        <div class="form-group row">
          <%= f.label :name, "ジャンル名", class: "col-md-2" %>
          <%= f.text_field :name, class: "form-control col-md-7" %>
          <%= f.submit "変更を保存", class: 'btn btn-success offset-md-1 col-md-2' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
