<h2>商品一覧</h2>
<% @products.each do |product| %>
  <% unless product.is_active == false %>
    <div>
      <%= link_to product_path(product) do %>
        <%= attachment_image_tag(product, :image,  fallback: "no_image.jpg", size:"100x100") %>
      <% end %>
    </div>
    <div>
      <p>商品名</p><%= product.name %>
    </div>
    <div>
      <p>￥<%= converting_to_jpy(product.price) %>
    </div>
  <% end %>
<% end %>